.idea
.idea/*
*._*
.ipynb_checkpoints
*.pyc
*.mod96
*.surf96
*.target
*.param
*.run
*.png
*.surf96.copy
.DS_Store
srfpython/Herrmann/bin/max_srfdis96
srfpython/Herrmann/bin/max_srfpre96
/tutorials/02_cube_inversion_example/inversion/
